.navbar-acm
{
    background: linear-gradient(45deg,#0069bf,#03a5fc);
}
.navbar-acm .navbar-brand
{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.navbar-acm .navbar-brand:hover
{
    transform: scale(1.05);
}
.navbar-acm .navbar-nav .nav-link
{
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease, text-decoration 0.3s ease;
}
.navbar-acm .navbar-nav .nav-link:hover
{
    transform: scale(1.1);
    text-decoration: underline;
}
.navbar-acm .navbar-nav .nav-link:active
{
    text-decoration: underline;
}
